[Unit]
Description=Force Enable IPv4 Forwarding for Mihomo
After=network.target
[Service]
Type=oneshot
ExecStart=/sbin/sysctl -w net.ipv4.ip_forward=1
RemainAfterExit=yes
[Install]
WantedBy=multi-user.target
